*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
input{
    
}
.parent{
    padding: 5px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(255, 228, 196, 0.373);

}
.logo{
    display: flex;
    align-items: center;
    gap: 30px;
}
.icon{
    padding: 5px;
    border-radius: 20px;
    width:200px;
    height: 40px;
    border: none;
     background-color: rgba(203, 203, 203, 0.222);
}
.login{
  border: none;
   padding: 5px;
    border-radius: 10px;
    background-color: white;

}
.Signup{
    border-radius: 5px;
    padding: 8px;
    background-color: white;
}

.yes{
  
    padding:150px;
  display: flex;
  justify-content:space-between;

}
.image{
margin-left: 200px;
}
.botton{
    border: none;
    background-color: blue;
    color: white;
    padding :10px;
    border-radius: 8px;
    font-weight: 600px;
}