h1 {
    background-color: rgba(196, 255, 197, 0.936);
    color: black;

}
h2{
background-color: aqua;
color: burlywood;

}
h3{
background-color: red;
color: yellow;

}
h4{
background-color: blueviolet;
color: whitesmoke;

}
h5{
background-color: aquamarine;
color: black;


}