
.topic{
    background-color: darkkhaki;
    color: black;
}
#paragraph{
    background-color: aliceblue;
    color: black;
}

h2{
background-color: aqua;
color: burlywood;
}
p{
    background-color: aliceblue;
    color: black;
}

h2{
background-color: red;
color: yellow;
}
p{
    background-color: aqua;
    color: blue;
}

h2{
background-color: blueviolet;
color: whitesmoke;
}
p{
    background-color: black;
    color: beige;
}
h2{
background-color: aquamarine;
color: black;
}
p{
    background-color: aliceblue;
    color: blue;
}